[tool.poetry]
name = "hubitatcontrol"
version = "0.8.1.3"
description = "Hubitat Maker API Interface"
authors = ["Jesse Schoepfer <jelloeater@gmail.com>"]
license = "MIT License"
readme = "README.md"
homepage = "https://github.com/Jelloeater/hubitatcontrol"

[tool.poetry.dependencies]
python = "^3.10"
requests = "*"

[tool.black]
line-length = 120

[tool.poetry.group.dev.dependencies]
setuptools = "*"
mypy = "*"
vulture = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-pycharm = "*"
python-dotenv = "*"
pdoc3 = "*"
radon = "*"
xenon = "*"
bandit = "*"
black = "*"
typeguard ="*"
pre-commit = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
